{% extends 'base.html' %}
{% block title %}
    Account Management
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-2">Account Overview</h1>
        <h3 class="display-4">Profile</h3>
        <hr>
        <div class="row">
            <div class="col"><p><strong>Name</strong></p></div>
            <div class="col">{{ user.get_full_name }}</div>
            <hr>
        </div>
        <div class="row">
            <div class="col"><p><strong>Username</strong></p></div>
            <div class="col">{{ user.get_username }}</div>
            <hr>
        </div>
        <div class="row">
            <div class="col"><p><strong>Email</strong></p></div>
            <div class="col">{{ user.email }}</div>
            <hr>
        </div>
        <hr>
        {% if user.spotifydata.exists %}
            <div class="row">
                <div class="col-1">
                    <i class="fab fa-spotify fa-3x"></i>
                </div>
                <div class="col-6">
                    <a href="{% url 'spotify:player' %}" class="btn btn-dark">Play Songs</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-1">
                    <i class="fab fa-spotify fa-3x"></i>
                </div>
                <div class="col-6">
                    <a href='{% url 'spotify:get_token' %}' class="btn btn-outline-dark">Connect Spotify</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}