{% extends 'base.html' %}
{% block title %}
    Sign Up
{% endblock %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="jumbotron mt-2">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {% bootstrap_field form.first_name %}
                    </div>
                    <div class="col-6">
                        {% bootstrap_field form.last_name %}
                    </div>
                </div>
                {% bootstrap_form form exclude='first_name,last_name' %}
                <input type="submit" class="btn btn-dark" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}