<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Test Site</title>
</head>
<body>
<h1>Test Site</h1>
<button class="btn btn-primary play">Play</button>
<button class="btn btn-primary pause">Pause</button>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
      var id;
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '{{ data.access_token }}';
      const player = new Spotify.Player({
        name: 'My Spotify Web Player',
        getOAuthToken: cb => { cb(token); }
      });
        player.addListener('ready', ({device_id}) => {
            id = device_id;
            console.log(id);
        });
      player.connect();
    };
  </script>
<script src="{% static 'ajax_calls.js'%}"></script>
</html>